<h2>Página inicial</h2>
<h2>O nome do usuário é {{user.name}} e o sobrenome é {{user.surname}}</h2>

<h3>{{dado}}</h3>

{{#if auth}}
    <p>Você está autenticado!</p>
    <p>Acesse a área de membros <a href="/membros">aqui</a></p>
    {{else}}
    <p>Você não está logado!</p>
    <p>Logue aqui <a href="/signin">sign in</a></p>
{{/if}}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus voluptatem maiores quibusdam facere, nobis provident ex dolor assumenda deleniti porro, hic qui doloribus harum placeat, distinctio quasi rem. Illo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus voluptatem maiores quibusdam facere, nobis provident ex dolor assumenda deleniti porro, hic qui doloribus harum placeat, distinctio quasi rem. Illo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus voluptatem maiores quibusdam facere, nobis provident ex dolor assumenda deleniti porro, hic qui doloribus harum placeat, distinctio quasi rem. Illo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus voluptatem maiores quibusdam facere, nobis provident ex dolor assumenda deleniti porro, hic qui doloribus harum placeat, distinctio quasi rem. Illo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus voluptatem maiores quibusdam facere, nobis provident ex dolor assumenda deleniti porro, hic qui doloribus harum placeat, distinctio quasi rem. Illo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus voluptatem maiores quibusdam facere, nobis provident ex dolor assumenda deleniti porro, hic qui doloribus harum placeat, distinctio quasi rem. Illo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus voluptatem maiores quibusdam facere, nobis provident ex dolor assumenda deleniti porro, hic qui doloribus harum placeat, distinctio quasi rem. Illo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus voluptatem maiores quibusdam facere, nobis provident ex dolor assumenda deleniti porro, hic qui doloribus harum placeat, distinctio quasi rem. Illo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus voluptatem maiores quibusdam facere, nobis provident ex dolor assumenda deleniti porro, hic qui doloribus harum placeat, distinctio quasi rem. Illo.</p>