<h1>Olá membro!</h1>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ipsam, nulla neque dolor iusto libero? Enim autem consectetur nam a, nobis officia animi deserunt quod laborum odit voluptate? Cumque, inventore.</h2>
<a href="/">Voltar</a>

<ul>
    {{#each items}} 

        <li>{{this}}</li>

    {{/each}}
</ul>