<h1>Usuários cadastrados</h1>

<div class="container">
	{{#each users}}
		<div class="item">
			<p>{{this.name}}</p>
			<p>{{this.occupation}}</p>
		</div>
		<div class="details">
			<a href="/users/{{this.id}}">Detalhes</a>
		</div>
		<form action="/users/delete/{{this.id}}" method="POST" class="btn">
			<input type="submit" value="Excluir" />
		</form>
	{{/each}}
</div>