body {
    font-family: "Poppins", Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1 {
    color: red;
}

.navbar {
    padding: 1.2rem 1.4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 1rem;
    list-style: none;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.form-control label {
    font-weight: bold;
    margin: 1rem;
}

.form-control input,
.form-control textarea {
    padding: 15px;
    margin: 0.25rem;
    border-radius: 10px;
}

.form input[type="submit"] {
    background-color: rgb(127, 172, 255);
    color: #fff;
    cursor: pointer;
    border-radius: 0.25rem;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    margin-left: 5px;
}

.container {
    padding: 2rem;
}

.container h1 {
    margin-bottom: 1rem;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    background-color: #98989898;
    border-radius: 10px;
    min-width: 200px;
    min-height: 300px;
    margin: auto;
    text-align: center;
}

image {
    height: 50px;
    margin: auto;
    align-items: center;
}