* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(233, 91, 91);
    padding: 0 4rem;
}

.navigation ul {
    padding: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    text-decoration: none;
    color: white;
}

.navigation li {
    text-decoration: none;
    color: white;
    margin: 0 2rem;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.form-control label {
    font-weight: bold;
    margin: 1rem;
}

.form-control input,
.form-control textarea {
    padding: 15px;
    margin: 0.25rem;
    border-radius: 10px;
}

form input[type="submit"] {
    background-color: rgb(127, 172, 255);
    color: #fff;
    cursor: pointer;
    border-radius: 0.25rem;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    margin-left: 5px;
}

.container {
    max-width: 550px;
    margin: 5rem auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(126, 230, 143);
    padding: 0 4rem;
    bottom: 0;
    height: 120px;
}

.task-list {
    list-style: none;
    margin: 1rem;
}

.task-list li {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list .title-done {
    text-decoration: line-through;
    color: #ccc;
    font-weight: bold;
    transition: 0.5s;
    font-size: 1.2rem;
}

.task-list .title {
    font-weight: bold;
    transition: 0.5s;
    font-size: 1.2rem;
    text-decoration: none;
    color: #1d1d1d;
}

.title:hover {
    color: db4c3f;
}

.actions a i {
    font-size: 1.5rem;
    margin-right: 0.6rem;
    color: #333;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.icon {
    font-size: 1.5rem;
    margin-right: 0.6rem;
    color: #333; 
}

.actions i:hover {
    color: #db4c3f;
}

.actions form {
    margin: 0;
}

.actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}