<h1>Livros disponíveis</h1>
<div class="books-container">
    {{#each books}}
        <div>
            <h4>#{{this.id}}</h4>
             <a href="/books/{{this.id}}">
                    <span class="bold">
                        {{this.title}}
                    </span>
             </a> {{this.pages}} páginas.
        </div>
    {{/each}}
</div>