<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Página não encontrada!</h1>
    <a href="/">voltar para home</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, illum nihil. Suscipit impedit ipsa commodi consectetur in molestiae vitae qui illum. Accusantium nam voluptates a dolore temporibus enim aspernatur maxime.</p>
</body>
</html>